:root{
    --unitary-size: min(1vh, 1vw);
    --unitary-neg: max(-1vh, -1vw);
}

@keyframes speen {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

body{
    background-color: rgb(2, 2, 26);
    margin: 0px;
}

#solar-system{
    display: flex;
    flex-direction: column;
    width: calc(var(--unitary-size) * 90);
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid orange; */
}
.solar-orbit{
    position: relative;
    border: 1px solid rgba(245, 245, 245, 0.225);
    border-radius: 50%;
    margin: calc(var(--unitary-size) * 5) auto;
}
#neptune-orb{
    height: calc(var(--unitary-size) * 90);
    width: calc(var(--unitary-size) * 90);
}
#uranus-orb{
    height: calc(var(--unitary-size) * 80);
    width: calc(var(--unitary-size) * 80);
}
#saturn-orb{
    height: calc(var(--unitary-size) * 70);
    width: calc(var(--unitary-size) * 70);
}
#jupiter-orb{
    height: calc(var(--unitary-size) * 60);
    width: calc(var(--unitary-size) * 60);
}
#mars-orb{
    height: calc(var(--unitary-size) * 50);
    width: calc(var(--unitary-size) * 50);
}
#earth-orb{
    height: calc(var(--unitary-size) * 40);
    width: calc(var(--unitary-size) * 40);
}
#venus-orb{
    height: calc(var(--unitary-size) * 30);
    width: calc(var(--unitary-size) * 30);
}
#mercury-orb{
    height: calc(var(--unitary-size) * 20);
    width: calc(var(--unitary-size) * 20);
}


.planet{
    width: calc(var(--unitary-size) * 4);
}
.planet-box{
    width: fit-content;
    position: absolute;
    left: calc(50% + calc(var(--unitary-neg) * 2));
    top: calc(var(--unitary-neg) * 2);
    animation: speen 5000ms linear 0ms infinite;
}

#neptune-container{
    height: calc(var(--unitary-size) * 94);
    animation-duration: 824000ms;
}
#uranus-container{
    height: calc(var(--unitary-size) * 84);
    animation-duration: 420100ms;
}
#saturn-container{
    height: calc(var(--unitary-size) * 74);
    animation-duration: 147300ms;
}
#jupiter-container{
    height: calc(var(--unitary-size) * 64);
    animation-duration: 59300ms;
}
#mars-container{
    height: calc(var(--unitary-size) * 54);
    animation-duration: 9410ms;
}
#earth-container{
    height: calc(var(--unitary-size) * 44);
}
#venus-container{
    height: calc(var(--unitary-size) * 34);
    animation-duration: 3100ms;
}
#mercury-container{
    height: calc(var(--unitary-size) * 24);
    animation-duration: 1200ms;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(var(--unitary-size) * 4) auto;
    width: fit-content;
    height: fit-content;
}
#sun{
    width: calc(var(--unitary-size) * 12);
}



