body{
    background-color: rgb(2, 2, 26);
    margin: 0px;
}

#for-phone{
    position: relative;
}

#solar-system{
    display: flex;
    flex-direction: column;
    width: 90vh;
    margin: 20px auto;
    justify-content: center;
    position: relative;
    /* border: 1px solid orange; */
}
.solar-orbit{
    border: 1px solid rgba(245, 245, 245, 0.225);
    border-radius: 50%;
    margin: 5vh auto;
}
#neptune-orb{
    margin: 0;
    height: 90vh;
    width: 90vh;
}
#uranus-orb{
    height: 80vh;
    width: 80vh;
}
#saturn-orb{
    height: 70vh;
    width: 70vh;
}
#jupiter-orb{
    height: 60vh;
    width: 60vh;
}
#mars-orb{
    height: 50vh;
    width: 50vh;
}
#earth-orb{
    height: 40vh;
    width: 40vh;
}
#venus-orb{
    height: 30vh;
    width: 30vh;
}
#mercury-orb{
    height: 20vh;
    width: 20vh;
}



.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4vh auto;
    width: fit-content;
    height: fit-content;
}
#sun{
    width: 12vh;
}



#planet-containers{
    display: flex;
    position: relative;
}
.planet-box{
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 6vh;
    border: 1px solid red;
}
.planet{
    max-width: 100%;
    scale: 80%;
}

#mercury-container{
    position: center;
    height: 12vh;
    right: 41.75vh;
    bottom: 32.7vh;
    border: none;
    /* transform: rotate(-180deg); */
    transform-origin: top center;
    animation: speen 3.82s linear 0s infinite;
}
#venus-container{
    position: center;
    height: 17vh;
    right: 41.75vh;
    bottom: 27.7vh;
    border: none;
    /* transform: rotate(-90deg); */
    transform-origin: top center;
    animation: speen 7.89s linear 0s infinite;
}
#earth-container{
    position: center;
    height: 22vh;
    right: 41.75vh;
    bottom: 22.7vh;
    border: none;
    /* transform: rotate(90deg); */
    transform-origin: top center;
    animation: speen 10s linear 0s infinite;
}
#mars-container{
    position: center;
    height: 27vh;
    right: 41.75vh;
    bottom: 17.7vh;
    border: none;
    /* transform: rotate(90deg); */
    transform-origin: top center;
    animation: speen 12.74s linear 0s infinite;
}
#jupiter-container{
    position: center;
    height: 32vh;
    right: 41.75vh;
    bottom: 12.7vh;
    border: none;
    /* transform: rotate(90deg); */
    transform-origin: top center;
    animation: speen 20.74s linear 0s infinite;
}
#saturn-container{
    position: center;
    height: 37vh;
    right: 41.75vh;
    bottom: 7.8vh;
    border: none;
    /* transform: rotate(90deg); */
    transform-origin: top center;
    animation: speen 24.69s linear 0s infinite;
}
#uranus-container{
    position: center;
    height: 42vh;
    right: 41.75vh;
    bottom: 2.9vh;
    border: none;
    /* transform: rotate(90deg); */
    transform-origin: top center;
    animation: speen 29.24s linear 0s infinite;
}
#neptune-container{
    position: center;
    height: 47vh;
    right: 41.75vh;
    bottom: -2.0vh;
    border: none;
    /* transform: rotate(90deg); */
    transform-origin: top center;
    animation: speen 32.7s linear 0s infinite;
}



@keyframes speen {
    0%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    25%{
        transform: rotate(90deg);
        transform-origin: top center;
    }
    50%{
        transform: rotate(180deg);
        transform-origin: top center;
    }
    75%{
        transform: rotate(270deg);
        transform-origin: top center;
    }
    100%{
        transform: rotate(360deg);
        transform-origin: top center;
    }
}


@media screen and (max-width: 576px) {
    #solar-system{
        transform: scale(40%);
        /* position: absolute;
        top: -60%;
        left: -50%; */
    }
    #for-phone{
        display: flex;
        height: 340px;
        justify-content: center;
    }
    #mercury-container{
        position: center;
        height: 12vh;
        right: 41.75vh;
        bottom: 25%;
        /* border: 1px solid red; */
        /* transform: rotate(-180deg); */
        transform-origin: top center;
        animation: speen 3.82s linear 0s infinite;
    }
    #venus-container{
        position: center;
        height: 17vh;
        right: 41.75vh;
        bottom: 15%;
        /* border: 1px solid red; */
        /* transform: rotate(-90deg); */
        transform-origin: top center;
        animation: speen 7.89s linear 0s infinite;
    }
    #earth-container{
        position: center;
        height: 22vh;
        right: 41.75vh;
        bottom: 5%;
        /* border: 1px solid red; */
        /* transform: rotate(90deg); */
        transform-origin: top center;
        animation: speen 10s linear 0s infinite;
    }
    #mars-container{
        position: center;
        height: 27vh;
        right: 41.75vh;
        bottom: -5%;
        /* border: 1px solid red; */
        /* transform: rotate(90deg); */
        transform-origin: top center;
        animation: speen 12.74s linear 0s infinite;
    }
    #jupiter-container{
        position: center;
        height: 32vh;
        right: 41.75vh;
        bottom: -15%;
        /* border: 1px solid red; */
        /* transform: rotate(90deg); */
        transform-origin: top center;
        animation: speen 20.74s linear 0s infinite;
    }
    #saturn-container{
        position: center;
        height: 37vh;
        right: 41.75vh;
        bottom: -25%;
        /* border: 1px solid red; */
        /* transform: rotate(90deg); */
        transform-origin: top center;
        animation: speen 24.69s linear 0s infinite;
    }
    #uranus-container{
        position: center;
        height: 42vh;
        right: 41.75vh;
        bottom: -35%;
        /* border: 1px solid red; */
        /* transform: rotate(90deg); */
        transform-origin: top center;
        animation: speen 29.24s linear 0s infinite;
    }
    #neptune-container{
        position: center;
        height: 47vh;
        right: 41.75vh;
        bottom: -45%;
        /* border: 1px solid red; */
        /* transform: rotate(90deg); */
        transform-origin: top center;
        animation: speen 32.7s linear 0s infinite;
    }
}